@dark-blue: #195998;
@dark-red: #C33636;
@white: #fff;
@light-gray: #f4f4f4;
@light-blue: #3076BC;
@item-width: 11%;
@menu-padding-left: 6%;
@home-gutter: 14px;
@text-overflow: {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;    
};

.ant-card-body {
    padding: 0
};

@ant-layout-header: {
    .ant-layout-header {
        background: url(../../../assets/images/logo.png) 0 0 no-repeat;
        background-size: 100% 220px;
        height: 220px;
    }
};

@ant-input-search: {
    .ant-input-search {
        width: 23%;
        .ant-btn {
            background: @dark-red;
            border-color: @dark-red; 
        }
    }
};

@menu-box: {
    .ant-menu {
        padding-left: @menu-padding-left;
        @ant-input-search();
        .ant-menu-item {
            font-size: 16px;
            width: @item-width;
            &.ant-menu-item-selected {
                background: @dark-blue !important;
            }
        }
    }
};

@secretary-box: {
    .secretary-box {
        .ant-card {
            height: 550px;
            .ant-card-cover {
                img {
                    float: left;
                    width: 70%;
                    height: 250px;
                    margin-left: 15%;
                    margin-top: 36px;
                    border: 1px solid #E7E7E7;
                    padding: 5px;
                }
            }
            .ant-card-body {
                .ant-card-meta {
                    .ant-card-meta-detail {
                        .ant-card-meta-title {
                            border-bottom: 1px dashed #ddd;
                            padding-bottom: 10px;
                            h3 {
                                &:first-child {
                                    color: #3076bc;
                                }
                            }
                        }
                        .ant-card-meta-description {
                            padding-top: 25px;
                            ul {
                                li {
                                    float: left;
                                    width: 33%;
                                    color: #666;
                                    line-height: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
};

@title-box: {
    .title-box {
        float: left;
        width: 78%;
        margin-left: 1%;
        .ant-card {
            height: 118px;
            .ant-card-body {
                padding: 14px 0 0 0;
                p {
                    &:first-child {
                        font-size: 30px;
                        color: @dark-red;
                    }
                }
                ul {
                    margin-top: 18px;
                    li {
                        float: left;
                        width: 33%;
                        @text-overflow();
                        font-size: 14px;
                        color: #6D6D6D;
                        padding: 0 2%;
                        font-weight: 550;
                        &:nth-child(2) {
                            border-left: 1px solid #6D6D6D;
                            border-right: 1px solid #6D6D6D;
                        }
                    }
                }
            }
        }
    }
};

@carousel-box: {
    .carousel-box {
        float: left;
        width: 50%;
        margin-top: @home-gutter;
        margin-left: 1%;
        .ant-card {
            .ant-card-body {
                padding: 0;
                .ant-carousel {
                    .slick-slide {
                        width: auto;
                        height: 417px;
                        div>img {
                            float: left;
                            width: 100%;
                            height: 417px;
                        }
                    }
                }
            }
        }
    }
};

@check-box: {
    .check-box {
        margin-left: 1%;
        margin-top: @home-gutter;
        float: left;
        width: 27%;
        .ant-card {
            padding: 0 5%;
            // height: 419px;
            .ant-card-head {
                padding: 0;
                .ant-card-head-wrapper {
                    position: absolute;
                    right: 32px;
                }
                .ant-tabs {
                    float: left;
                    width: 32%;
                    .ant-tabs-ink-bar {
                        left: -9px;
                        width: 95px !important;
                    }
                    .ant-tabs-tab {
                        padding-left: 4px;
                    }
                    .ant-tabs-nav {
                        float: left;
                        padding-left: 5px;
                    }
                }
                .ant-card-extra {
                    a {
                        color: #9E9E9E;
                    }
                }
            }
            .ant-card-body {
                padding: 0;
                >ul {
                    margin-top: 15px;
                    >li {
                        margin-top: 18px;
                        >p {
                            >i {
                                float: left;
                                width: 3px;
                                height: 3px;
                                background: @dark-red;
                                margin-top: 9px;
                                margin-right: 3px;
                            }
                            float: left;
                            width: 58%;
                            @text-overflow();
                            text-align: left;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        >span {
                            float: right;
                            width: 40%;
                            text-align: right;
                            color: #9A9A9A;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
};

@nav-box: {
    .nav-box {
        margin-top: 14px;
        .ant-card {
            background: @light-blue;
            .ant-card-body {
                .ant-menu {
                    height: 417px;
                    background: transparent;
                    border-right: 0 !important;
                    color: #B0D0E5;
                    padding: 10px 0 0 0;
                    .ant-menu-submenu {
                        &:not(:last-child) {
                            border-bottom: 2px solid #5d99d5;
                        }
                    }
                    .ant-menu-submenu-title {
                        height: 70px;
                        line-height: 70px;
                        padding: 0 0 0 15px;
                        text-align: left;
                        font-size: 16px;
                        &:hover {
                            color: @white;
                        }
                    }
                    .ant-menu-submenu-open,.ant-menu-submenu-selected {
                        color: @white;
                        background: #195998;
                    }
                }
            }
        }
    }
};

@navlist-box: {
    .navlist-box {
        // float: left;
        margin-top: @home-gutter;
        .ant-card {
            &:not(:first-child) {
                margin-top: 12px;
            }
            .ant-menu {
                padding: 0;
                .ant-menu-submenu-title {
                    height: 70px;
                    line-height: 70px;
                    text-align: left;
                    padding: 0 0 0 15px;
                    font-size: 16px;
                    &:hover {
                        color: @white;
                    }   
                }
                .ant-menu-submenu-open {
                    background: #3076bc;
                }
            }
        }
    }
};

@inspector-box: {
    .inspector-box {
        margin-top: @home-gutter;
        float: left;
        width: 100%;
        .ant-card {
            padding: 0 2%;
            .ant-card-head {
                padding: 0;
                .ant-card-head-wrapper {
                    position: absolute;
                    right: 32px;
                }
                .ant-tabs {
                    float: left;
                    width: 32%;
                    .ant-tabs-ink-bar {
                        left: -9px;
                        width: 95px !important;
                    }
                    .ant-tabs-tab {
                        padding-left: 4px;
                    }
                    .ant-tabs-nav {
                        float: left;
                        padding-left: 5px;
                    }
                }
                .ant-card-extra {
                    a {
                        color: #9E9E9E;
                    }
                }
            }
            .ant-card-body {
                padding: 20px 0 0 0;
                >ul {
                    overflow: hidden;
                    width: 100%;
                    // height: 145px;
                    >li {
                        float: left;
                        margin-right: 3%;
                        img {
                            width: 150px;
                            height: 120px;
                        }
                        p {
                            color: #747474;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
};

@content-box: {
    .content-box {
        width: 88%;
        margin-left: @menu-padding-left;
        margin-top: 14px;
        @secretary-box();
        @title-box();
        @carousel-box();
        @check-box();
        @nav-box();
        @navlist-box();
        @inspector-box();
    }
};

@ant-layout-content: {
    .ant-layout-content {
        background: @light-gray;
        @menu-box();
        >div>div.ant-row {
            background: @white;
            height: 70px;
            padding-left: @menu-padding-left;
            padding-top: 25px;
            >.ant-col-3 {
                i {
                    float: left;
                    width: 23px;
                    height: 20px;
                    background: url(../../../assets/images/information.png) 0 0 no-repeat;
                    background-size: cover;
                }
                h3 {
                    float: left;
                    font-weight: bold;
                    color: @dark-red;
                    margin-top: -3px;
                    margin-left: 8%;
                }
            }
            >.ant-col-11 {
                font-weight: bold;
                font-size: 16px;
                margin-top: -2px;
                @text-overflow();
            }
        }
        @content-box();
    }
};

.ant-layout {
    @ant-layout-header();
    @ant-layout-content();
}